/*
    #E7E3AF
    #CCAB6F
    #7D5535
    #662F18
    #761919
  */

body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #e7e3af;
  height: 80px;
  margin: 0;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  padding-top: 10px;
}

li {
  margin-right: 20px;
  padding-top: 16px;
}

.link {
  text-decoration: none;
  color: #662f18;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.img {
  float: left;
  width: 160px;
  height: auto;
  padding-bottom: 10px;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  z-index: 1;
}

.modal-container {
  opacity: 0;
  pointer-events: none;
}

.show {
  width: 100%;
  height: 93vh;
  background: rgb(118,25,25);
  background: linear-gradient(360deg, rgba(118, 25, 25, 0.924) 0%, rgb(128, 80, 41)100%);
  opacity: 1;
  pointer-events: auto;
  transition: ease-in-out 0.5s;
}

.modal {
  background-color: #e7e3af;
  width: 70%;
  margin: auto;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  min-height: 600px;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.modal-close {
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 100%;
}

.btnClose {
  background-color: #662F18;
  color: #e7e3af;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #97593e2c;
  padding: 10px 20px;
  box-shadow: 5px 5px 8px 1px #00000091;
  position: sticky;
  bottom: 0;
  width: 100%;
  pointer-events: default;
}

.close-x {
  color: #e7e3af;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row-reverse;
  padding: 50px;
  z-index: 1;
}

#modal-title,
.modal-comments,
.modal-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
}

.modal-comments {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#modal-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#modal-actor {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

#modal-house, 
#modal-species {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.modal-img {
  width: 240px;
  height: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 8px 1px #00000091;
}

#modal-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: 'Roboto', sans-serif;

}

.description-container{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.comments-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  border-radius: 10px;
}

.btn {
  background-color: #e7e3af;
  color: #97593e;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #97593e2c;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 5px 4px 15px 0px #0000007c;

  /* This button is aligned temporarily to the center */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* -------------------------------------------------- */
}

.comments { 
  background-color: #e7e3af; 
  color: #97593e;
  font-size: 20px;
  font-weight: bold;
}

.form-container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

#submit {
  background-color: #7d5535;
  color: #e7e3af;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #7d5535;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 4px 15px 0px #0000007c;
}

#name,
#review {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid #7d5535;
}

#submit:hover {
  background-color: #e7e3af;
  color: #7d5535;
  transition: ease-in-out 1.5s;
  box-shadow: none;
}

.btnClose:hover {
  background-color: #7d5535;
  color: #e7e3af;
}

.btn:hover {
  background-color: #7d5535;
  color: #e7e3af;
  transition: ease-in-out 0.3s;
}

.link:hover {
  background-color: #761919;
  color: #e7e3af;
  padding: 3px 7px;
  border-radius: 3px;
  transition: ease-in-out 0.8s;
}
