  /* 
    #E7E3AF
    #CCAB6F
    #7D5535
    #662F18
    #761919
  */

body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #E7E3AF;
  height: 80px;
  margin: 0;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  padding-top: 10px;
}

li {
  margin-right: 20px;
  padding-top: 16px;
}


.link {
  text-decoration: none;
  color: #662F18;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.img {
  float: left;
  width: 160px;
  height: auto;
  padding-bottom: 10px;
}

.link:hover {
  background-color: #761919;
  color: #E7E3AF;
  padding: 3px 7px;
  border-radius: 3px;
  transition: ease-in-out 0.5s;
}